{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Adicionar Atividade</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Adicionar Atividade</button>
    </form>
</div>
<script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create(document.querySelector('#id_descricao')).catch(error => { console.error(error); });
</script>
{% endblock %}
